@model IEnumerable<Lawyer>
@*Landing page for Admin*@




@if (Model.Count() > 0)
{

    <div class="jumbotron">
        <h2 class="lead text-center"><b>Attornys waiting for Approval</b></h2>
    </div>

    <div class="alert alert-dismissible alert-primary text-center">
        <p style="font-size: 20px;">
            <a href="https://www.mywsba.org/LegalDirectory.aspx" target="_blank"><b>Verify Attorney</b></a>
        </p>
    </div>

    <p></p>

    @foreach (var i in Model)
    {
        <div class="row">

            <div class="col-md-2"></div>
            <div class="cardbordered border-primary col-md-8">
                <div class="card-body text-center">
                    <h4><b>@i.ApplicationUser.FirstName @i.ApplicationUser.MiddleInitial @i.ApplicationUser.LastName</b></h4>
                    <h4>Bar ID : @i.BarNumber</h4>
                    <a asp-area="" class="btn btn-success" asp-controller="Admin" asp-action="VerifyLawyer" asp-route-id="@i.ApplicationUserId">Verify @i.ApplicationUser.FirstName @i.ApplicationUser.MiddleInitial @i.ApplicationUser.LastName </a>
                    <a asp-area="" class="btn btn-danger" asp-controller="Admin" asp-action="RemoveLawyer" asp-route-id="@i.ApplicationUserId">Remove @i.ApplicationUser.FirstName @i.ApplicationUser.MiddleInitial @i.ApplicationUser.LastName's Request</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
}
else
{

    <div class="jumbotron">
        <h2 class="lead text-center"><b>No Attornys to be approved.</b></h2>
    </div>
}


@*Wrap in anchor tags, on click take them to lawyers sign up information?*@
@*Approval Button for each lawyer?*@

@*DONE : Maybe make this open in a new tab instead of redirecting?*@
