@model List<WillClinic.Models.VeteranIntakeForm>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <table class="table">

            <tr><td id="tname" colspan="4">Veteran Dashboard</td></tr>

            @if (Model.Where(x => !x.IsNotarized.HasValue).Count() < 1)
            {
                <tr><td><a asp-action="GoToStep" asp-controller="VeteranIntakeForm">Create New Application</a></td></tr>
            }

            @if (Model.Any(x => x.CurrentStep > 0 && !x.IsCompleted.HasValue && !x.IsNotarized.HasValue))
            {
                <tr>
                    <td><a asp-action="GoToStep" asp-controller="VeteranIntakeForm" asp-route-step="@Model.FirstOrDefault(x => !x.IsNotarized.HasValue).CurrentStep">Continue Form</a></td>
                    <td><a asp-action="Delete" asp-controller="VeteranIntakeForm" asp-route-id="@Model.FirstOrDefault(x => !x.IsNotarized.HasValue).ID">Delete</a></td>
                    <td>Last Edit: @Model.FirstOrDefault(x => !x.IsNotarized.HasValue).TimeStamp</td>
                </tr>
            }

            @if (Model.Any(x => x.IsCompleted.HasValue && !x.IsNotarized.HasValue))
            {
                <tr id="th"><td colspan="4" class="text-center">Current/Active Application</td></tr>

                foreach (var i in Model)
                {
                    if (i.IsCompleted.HasValue && !i.IsNotarized.HasValue)
                    {
                        <tr>
                            <td><b>Application Created On</b> @i.TimeStamp</td>
                            <td><a asp-action="Details" asp-controller="VeteranIntakeForm" asp-route-id="@i.ID">Details</a></td>
                            <td><a asp-action="Edit" asp-controller="VeteranIntakeForm" asp-route-id="@i.ID">Edit</a></td>
                            <td><a asp-action="Delete" asp-controller="VeteranIntakeForm" asp-route-id="@i.ID">Delete</a></td>
                            <td><a asp-action="Confirmation" asp-controller="Document">Create Form</a></td>
                        </tr>
                    }
                }
            }

            @if (Model.Any(x => x.IsNotarized.HasValue))
            {
                <tr id="th"><td colspan="4" class="text-center">Archived Forms</td></tr>
                @foreach (var i in Model)
                {
                    if (i.IsNotarized.HasValue)
                    {
                        <tr>
                            <td><a asp-action="Details" asp-controller="Veteran" asp-route-id="@i.ID">Form: @i.TimeStamp</a></td>
                        </tr>
                    }
                }
            }

        </table>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
            @await Component.InvokeAsync("RequestLawyer")
        </div>
    </div>
</div>