@model List<VeteranIntakeForm>

<h2>Matched Veteran's Completed Forms</h2>
<h6>(latest first)</h6>

@foreach (VeteranIntakeForm form in Model)
{
<div class="container">
    <div class="row">
        <div class="col-sm-4">@form.FullLegalName</div>
        <div class="col-sm-4">@form.Address</div>
        <div class="col-sm-4">@form.PhoneNumber</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Veteran Status: @form.VeteranStatus</div>
        <div class="col-sm-3">Proof of Service: @form.ProofOfService</div>
        <div class="col-sm-3">Resident Status: @form.ResidentStatus</div>
        <div class="col-sm-3">Networth Qualified: @form.NetWorth</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Bank Account Assets: @form.BankAccountAssets</div>
        <div class="col-sm-3">Real Estate Assets: @form.RealEstateAssets</div>
        <div class="col-sm-3">Life Insurance Value:@form.LifeInsuranceCashValue</div>
        <div class="col-sm-3">Retirement Accounts: @form.RetirementAccounts</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Stock Bonds: @form.StockBonds</div>
        <div class="col-sm-3">Pension: @form.Pension</div>
        <div class="col-sm-3">Business Interest:@form.BusinessInterest</div>
        <div class="col-sm-3">Owings: @form.MoneyOwedToYou</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Other Assets: @form.OtherAssetsOrMoney</div>
        <div class="col-sm-3">
            Total: @form.VeteranStatus + @form.ProofOfService + @form.ResidentStatus + @form.NetWorth + @form.BankAccountAssets + @form.RealEstateAssets + @form.LifeInsuranceCashValue + @form.RetirementAccounts + @form.StockBonds + @form.Pension + @form.BusinessInterest + @form.MoneyOwedToYou + @form.OtherAssetsOrMoney
        </div>
        <div class="col-sm-3">Household Size: @form.HouseHoldSize</div>
        <div class="col-sm-3">Monthly Income: @form.MonthlyIncome</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Marital Status:@form.MaritalStatus</div>
        <div class="col-sm-3">Spouse Name: @form.FullNameSpouse</div>
        <div class="col-sm-3">Children:@form.HaveChildren</div>
        <div class="col-sm-3">Minor Children: @form.UnderAgeChildren</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Birth Parent:@form.MinorChildrenDifferentSpouse</div>
        <div class="col-sm-3">Pregnant: @form.CurrentlyPregnant</div>
        <div class="col-sm-3">Bequest:@form.SpecificBequest</div>
    </div>
    <div class="row">
        <div class="col-sm-12">Bequest Information: @form.BequestInfromation</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Inherit Estate: @form.InheritEstate</div>
        <div class="col-sm-6">Specific: @form.InheritEstateSpecific</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Remainder Benificiary: @form.RemainderBeneficiary</div>
        <div class="col-sm-6">Specific: @form.RemainderBeneficiarySpecific</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Disinherit: @form.DisinheritSomeone</div>
        <div class="col-sm-10">Who: @form.DisinheritSomeone</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Primary Guardian: @form.PrimaryGuardian</div>
        <div class="col-sm-6">Alternate Guardian: @form.AlternateGuardian</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Personal Representative: @form.PersonalRepresentative</div>
        <div class="col-sm-6">Alternate Representative: @form.AlternateRepresentative</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Request Power of Attorney: @form.RequestPowerOfAttorney</div>
        <div class="col-sm-6">Primary Attorney: @form.PrimaryAttorney</div>
    </div>
    <div class="row">
        <div class="col-sm-7">Alternate Attorney: @form.AlternateAttorney</div>
        <div class="col-sm-5">Healthcare Directive: @form.HealthCareDirective</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Hydration Directive: @form.HydrationDirective</div>
        <div class="col-sm-4">Nutrition Directive: @form.NutritionDirective</div>
        <div class="col-sm-4">Artificial Ventilation: @form.ArtificialVentilation</div>
    </div>
    <div class="row">
        <div class="col-sm-4">DistressMedication: @form.DistressMedication</div>
        <div class="col-sm-4">Health POA: @form.HealthPOA</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Primary Health Attorney: @form.PrimaryHealthAttorney</div>
        <div class="col-sm-6">Secondary Health Attorney: @form.SecondaryHealthAttorney</div>
    </div>
</div>
}

