@page
@model WillClinic.Pages.Lawyers.AvailabilityModel
@{
    ViewData["Title"] = "Availability";
}

    <strong class="alert alert-info col-xs-12">Multiple selections for libraries and recurring days can be made by holding either CTRL or SHIFT while clicking.</strong>
<div class="col-md-8 col-md-offset-2">
    <h2>@(Model.AvailabilityId.HasValue ? "Update" : "Add") Availability</h2>
    <br />
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="LibraryIds" class="control-label"></label>
            <select asp-for="LibraryIds" asp-items="@Model.Libraries" class="form-control" size="7"></select>
            <span asp-validation-for="LibraryIds" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TimeStart" class="control-label"></label>
                <input asp-for="TimeStart" class="form-control" />
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="TimeEnd" class="control-label"></label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
        </div>
        <label class="checkbox-inline"><input asp-for="IsRecurring" id="recurringCheckbox" />Recurring Weekly?</label>
        <br />
        <br />
        <div class="form-group recurring-toggleable" id="singleDate">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group recurring-toggleable" id="recurringDays">
            <label asp-for="RecurringDays"></label>
            <select asp-for="RecurringDays" asp-items="@Model.DaysOfTheWeek" multiple="multiple" class="form-control" size="7"></select>
        </div>
        <br />

        <div class="btn-group">
            <a asp-page="/Lawyers/Profile" class="btn btn-danger">Cancel</a>
            <button asp-route-id="@Model.AvailabilityId" type="submit" class="btn btn-success">@(Model.AvailabilityId.HasValue ? "Update" : "Add")</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        var recurringCheckbox = $('#recurringCheckbox');

        if (recurringCheckbox.is(':checked')) {
            $('#singleDate').hide();
        }
        else {
            $('#recurringDays').hide();
        }

        recurringCheckbox.change(function () {
            $('.recurring-toggleable').toggle();
        })
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
