@page
@model WillClinic.Pages.Lawyers.DeleteScheduleModel
@{
    ViewData["Title"] = "DeleteSchedule";
}

<h2>Are you sure you want to delete this schedule?</h2>

@if (Model.LawyerSchedule.RecurringDays == RecurringDays.None)
{
    @Model.LawyerSchedule.TimeBegin.ToLongDateString()
}
else
{
    @Html.DisplayFor(m => m.LawyerSchedule.RecurringDays)
}
<br />
@Model.LawyerSchedule.TimeBegin.ToShortTimeString() - @Model.LawyerSchedule.TimeEnd.ToShortTimeString()
<form method="post">
    <div class="btn-group">
        <a asp-page="Profile" class="btn btn-info">Cancel</a>
        <button type="submit" asp-route-id="@Model.LawyerSchedule.ID" class="btn btn-danger">Delete</button>
    </div>
</form>