@page
@model WillClinic.Pages.Lawyers.IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Attorney Profile</h2>
<strong>Bar#: @Model.Lawyer.BarNumber </strong>
@if(Model.Matches != null)
{
    <h3>Matched Clients:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Matches)
            {
                @*string fullName = $"{item.Veteran.ApplicationUser.FirstName}  {item.Veteran.ApplicationUser.LastName}";
                <p>@fullName</p>*@
                <tr>
                    <td>@item.Veteran.ApplicationUser.LastName</td>
                    <td>@item.Veteran.ApplicationUser.FirstName</td>
                    @if(!String.IsNullOrEmpty(@item.LocationSelected))
                    {
                        <td>@item.LocationSelected</td>
                    }
                    else
                    {
                        <td>TBD</td>
                    }
                    @if(item.TimeSelected.ToString() == "1/1/0001 12:00:00 AM")
                    {

                       <td>TBD</td>
                    }
                    else
                    {
                        <td>@item.TimeSelected</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
<h3>@Model.PotentialClients.Count() Potential Client(s):</h3>
@if (Model.PotentialClients.Count() > 0)
{
    <h4>Choose a client icon below to start matching:</h4>
}
@foreach (var client in Model.PotentialClients)
{
    <a asp-page="Match" asp-route-id="@client.ApplicationUserId" class="btn btn-primary">Match with Veteran</a>
}

<h3>Chosen Meeting Places:</h3>
@if (Model.Libraries.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Library Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var library in Model.Libraries)
            {
                <tr>
                    <td>@library.Name</td>
                    <td>@library.City</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No libraries selected yet.</h4>
}
<a asp-page="Libraries" class="btn btn-info">Update Libraries</a>
<h3>Time Availabilities:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Date / Days</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.Schedules)
        {
            <tr>
                <td>
                    @if (schedule.RecurringDays == RecurringDays.None)
                    {
                        @schedule.TimeBegin.ToShortDateString()
                    }
                    else
                    {
                        @Html.DisplayFor(m => schedule.RecurringDays)
                    }
                </td>
                <td>@schedule.TimeBegin.ToShortTimeString()</td>
                <td>@schedule.TimeEnd.ToShortTimeString()</td>
                <td>
                    <div class="btn-group-sm">
                        <a asp-page="Schedule" asp-route-id="@schedule.ID" class="btn btn-warning">Update</a>
                        <a asp-page="DeleteSchedule" asp-route-id="@schedule.ID" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="Schedule" class="btn btn-info">Add Schedule</a>