@page
@model WillClinic.Pages.Lawyers.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Attorney Profile</h2>
<strong>Bar#: @Model.Lawyer.BarNumber (@(Model.Lawyer.IsVerified ? "Verified" : "Unverified"))</strong>

<h3>Your Availabilities:</h3>
@if (Model.Libraries.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Library Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var library in Model.Libraries)
            {
                <tr>
                    <td>@library.Name</td>
                    <td>@library.City</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No libraries selected yet.</h4>
}
<a asp-page="Libraries" class="btn btn-info">Update Libraries</a>

<table class="table">
    <thead>
        <tr>
            <th>Date / Days</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.Schedules)
        {
            <tr>
                <td>
                    @if (schedule.RecurringDays == RecurringDays.None)
                    {
                        @schedule.TimeBegin.ToShortDateString()
                    }
                    else
                    {
                        @Html.DisplayFor(m => schedule.RecurringDays)
                    }
                </td>
                <td>@schedule.TimeBegin.ToShortTimeString()</td>
                <td>@schedule.TimeEnd.ToShortTimeString()</td>
                <td>
                    <div class="btn-group-sm">
                        <a asp-page="Schedule" asp-route-id="@schedule.ID" class="btn btn-warning">Update</a>
                        <a asp-page="Schedule" asp-page-handler="Delete" asp-route-id="@schedule.ID" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>